/*
* Main style load heare
* 1. menu part
* 2.search button
*/
body{
	overflow-x: hidden;
}
/*=========================================
Top Header part
=========================================*/
.logo-part{
	padding:10px;
}
/*==========================================
Menu part
==========================================*/
/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#0060c8!important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
  padding-top:0px;
  padding-bottom:0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
  padding:.5rem .5rem;
  margin:0 .25rem;
}

/* makes the dropdown full width  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
/*  height of nav-item  */
  top:45px;

  display:block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;

}




  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}

  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }

}

/*======================================
Search box
======================================*/
* {
  box-sizing: border-box;
}
.search-box{
	width:80%;
	margin:auto;
	margin-top:30px;
  text-align: center;

}
.main-heading {
	margin-top:25px;
}

form.example input[type=text] {
  padding: 12px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 5px 0 0 5px;

}

form.example button {
  float: left;
  width: 20%;
  padding: 12px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
/*====================================
category show
====================================*/
.category-show{
	width:90%;
	margin:auto;
}
.category-list{
	margin-top:20px;
}
.category-list ul li{
	list-style: none;
	margin-top: 10px;
}
.category-list ul li a{
	text-decoration: none;
	color:#000000;
}
.category-list ul li a:hover{

	color:#1abc9c;
}
.category-list ul li a img{
	width:16px;
	height:16px;
	margin-right:5px;
}
/*==================================
product image design
==================================*/
.popular-product{
	width:90%;
	margin:auto;
}
.popular-product h4{
	margin-top:20px;
}
.product-image {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.product-image:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text ul li{
	list-style: none;
}
.text ul li a{
	text-decoration: none;
	color:#FFFFFF;
}
.text ul li a:hover{
	color:#000000;
}
/*=======================================
Single page
=======================================*/
.single-image img{
	width:70%;
	margin:auto;
	margin-top: 10px;
}
.product-heading h4{
	padding:10px;
}
.product-info ul li a{
	text-decoration: none;
}
.product-compare{
	width:98%;
	margin:auto;
}
.add-card{
	text-align:center;
}

.side-redus{
	width:98%;
	margin:auto;
}
.side-redus{
	border:1px solid #000000;
	padding:5px;
}
.price-history{
	text-align: center;
	margin-top:30px;
}
.product-de-image{
	width:95%;
	margin:auto;
	margin-top: 40px;
}
.more-products{
	padding:10px;
}
/*=====================================
Category products
=====================================*/
.manu-heading{
	background-color:#F5F5F5;
	border:1px solid #F5F5F5;
	padding:10px;
}
.manufactures-list{
	border:1px solid #F5F5F5;
	font-size: 18px;
	margin-top: 5px;
}
.manufactures-list ul li a{
	text-decoration: none;

}
.category-productinfo{
	background-color: #EEF3FA;
	color:#000000;
}
.category-productinfo p{
 padding:5px;
 border-radius: 5px;
}
.category-productinfo a{
 margin-left:90px;
 margin-bottom:5px;
 text-decoration: none;
}
.category-9{
	margin-top:10px;
}

/* new home page*/
.homepageNew{
   width:95%;
  margin:auto;
}
.homePageless{
   margin-top: 10px;
  border: 1px solid;
  box-shadow: 5px 5px #CDCDCD;
}
.categoryWH{
  margin-top:20px;
}
.categoryWH{
  background-color:#4267B2;
  color:#FFFFFF;
  padding:10px;
  text-align: center;
}
.ul-try ul li{
  list-style: none;
}
.ul-try ul li a{
  text-decoration: none;
  color:#000000;
  margin-top: 10px;
}
/*compare page*/
.compare-main-page{
  width:95%;
  margin:auto;
}
.com-an-mar h5{
  padding:10px;
  text-align: center;
}
/* cart css */

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}

	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}

	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}



	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}

}
/* checkout page style */
.message{
	background-color: #DFE6E9;
	padding:6px;
	margin-top: 10px;
}
.form-open{
	background-color:#dfe6e9;
  padding:15px;
  margin-top:20px;
}
/*=======================================
Footer part
=======================================*/
.footer-part{
  margin-top:40px;
}
.footer-part hr{
      padding-top:0px;
      border: 1px solid #CCC;
}
.support-part{
  background-color:#FAFBFC;
  padding-top:25px;
}
.footer-s{
  width:80%;
  margin:auto;
}
.s-heading img{
  height:32px;
  width:32px;
}
.su-he{
  font-size: 22px;
}
.s-heading p{
  font-size:18px;
  text-align: center;
  margin-top: 0px;
}
.bimages img{
  width:100%;
  margin:auto;
}
.six-part{
  padding:10px;
}
.footer-ul ul li{
  list-style: none;

}
.footer-ul ul li a{
  text-decoration: none;
   color:#6c6c6c !important;
}
.list-inline-item a{
text-decoration: none;
   color:#6c6c6c !important;
}
